[Desktop Entry]
Encoding=UTF-8
Name=AKL
Comment=AKL P2P Cryptocurrency
Comment[fr]=AKL, monnaie virtuelle cryptographique pair à pair
Comment[tr]=AKL, eşten eşe kriptografik sanal para birimi
Exec=akula-qt %u
Terminal=false
Type=Application
Icon=akula128
MimeType=x-scheme-handler/akula;
Categories=Office;Finance;
