[Unit]
Description=AKL's distributed currency daemon
After=network.target

[Service]
User=akula
Group=akula

Type=forking
PIDFile=/var/lib/akulad/akulad.pid

ExecStart=/usr/bin/akulad -daemon -pid=/var/lib/akulad/akulad.pid \
          -conf=/etc/akula/akula.conf -datadir=/var/lib/akulad

ExecStop=-/usr/bin/akula-cli -conf=/etc/akula/akula.conf \
         -datadir=/var/lib/akulad stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
